<div class="messages">
  {{inventory.message}}
</div>
<div>
  <h3>Inventory</h3>
  <span class="key-count">
    <a href="" {{action "showKeys"}} class="{{if showingKeys 'inventory-active'}}">
      Keys:
    </a>
    {{numKeys}}
  </span>
  <span class="thing-count">
    <a href="" {{action "showThings"}} class="{{if showingThings 'inventory-active'}}">
      Things:
    </a>
    {{numThings}}
  </span>
  <span class="coin-count">
    Coins: {{numCoins}}
  </span>
  {{#if showingKeys}}
    <ul class="keys">
      {{#if hasKeys}}
        {{#each inventory.keys as |key|}}
          <li class="key">
            #{{key.room_id}}: {{key.description}}
          </li>
        {{/each}}
      {{else}}
        <li class="key">
          Empty...
        </li>
      {{/if}}
    </ul>
  {{else}}
    <ul class="things">
      {{#if hasThings}}
        {{#each inventory.things as |thing|}}
          <li class="thing">
            {{#if selling}}
              <a href="" {{action "sellThing" thing}}>
                {{thing.name}} - {{thing.value}} coins
              </a>
            {{else}}
              <a href="" {{action "showThing" thing}}>
                {{thing.name}}
              </a>
            {{/if}}
          </li>
        {{/each}}
      {{else}}
        <li class="thing">
          Empty...
        </li>
      {{/if}}
    </ul>
  {{/if}}
</div>