<p class="greeting">
  the {{merchant.name}} says "{{merchant.description}}"
</p>

{{#each merchant.things as |thing|}}
  <a class="thing" {{action "buy" thing}}>
    {{thing.name}} - {{thing.value}} coins
  </a>
{{/each}}

<a class="sell" {{action "sell"}}>sell me yr treasures!</a>
