<p class="greeting">
  the {{merchant.name}} says "{{merchant.description}}"
</p>
<h5>BUY</h5>
<ul>
  {{#each merchant.things as |thing|}}
    <li>
      <a class="thing" href="" {{action "buy" thing}}>
        {{thing.name}} - {{thing.value}} coins
      </a>
    </li>
  {{/each}}
</ul>
<hr />
<a class="sell" href="" {{action "sell"}}>sell me yr treasures!</a>
<hr />
