<p class="item-description">
  {{model.name}}...{{model.description}}
</p>
<p class="item-contents">
  {{#if model.key}}
    There is
    <a class="key" href="" {{action "takeKey" model.key}}>
      {{model.key.description}}
    </a>
    inside.
  {{/if}}
  {{#each thing in model.things}}
    You see
    <a class="thing" href="" {{action "takeThing" thing}}>
      {{thing.name}}
    </a>
  {{/each}}
</p>
{{link-to 'back' 'room' room class="back"}}