<table class="room-navigation">
  <tr>
    <td></td>
    <td class="door">
      {{#if model.north}}
        {{link-to model.north.name 'room' model.north class="north"}}
      {{/if}}
    </td>
    <td></td>
  </tr>
  <tr>
    <td class="door">
      {{#if model.west}}
        {{link-to model.west.name 'room' model.west class="west"}}
      {{/if}}
    </td>
    <td class="room-detail">
      <p class="room-description">you are {{model.description}}.
        {{#if model.key}}
          you see
          <a class="key" href="" {{action "takeKey" model.key}}>
            {{model.key.description}}
          </a>
        {{/if}}
        {{#if model.things}}
          You see
          {{#each model.things as |thing|}}
            <a class="thing" href="" {{action "takeThing" thing}}>
              {{thing.name}}
            </a>
          {{/each}}
        {{/if}}
      </p>
    </td>
    <td class="door">
      {{#if model.east}}
        {{link-to model.east.name 'room' model.east class="east"}}
      {{/if}}
    </td>
  </tr>
  <tr>
    <td></td>
    <td class="door">
      {{#if model.south}}
        {{link-to model.south.name 'room' model.south class="south"}}
      {{/if}}
    </td>
    <td></td>
  </tr>
</table>