<p class="room-description">you are {{model.description}}.
  {{#if model.items}}
    you see
    {{#each item in model.items}}
      {{link-to item.name 'room.item' model item class="item"}}.
    {{/each}}
  {{/if}}
</p>

{{#if model.north}}
  {{link-to model.north.name 'room' model.north class="north"}}
{{/if}}

{{#if model.west}}
  {{link-to model.west.name 'room' model.west class="west"}}
{{/if}}

{{#if model.east}}
  {{link-to model.east.name 'room' model.east class="east"}}
{{/if}}

{{#if model.south}}
  {{link-to model.south.name 'room' model.south class="south"}}
{{/if}}

{{outlet}}
