<p class="room-description">{{model.description}}</p>

{{#if model.north}}
  {{link-to 'N' 'room' model.north}}
{{/if}}

{{#if model.west}}
  {{link-to 'W' 'room' model.west}}
{{/if}}

{{#if model.east}}
  {{link-to 'E' 'room' model.east}}
{{/if}}

{{#if model.south}}
  {{link-to 'S' 'room' model.south}}
{{/if}}

{{outlet}}
