<p class="room-description">{{model.description}}</p>

{{link-to 'N' 'room' model.north}}

{{link-to 'W' 'room' model.west}}

{{link-to 'E' 'room' model.east}}

{{link-to 'S' 'room' model.south}}

{{outlet}}
